.stats-container{

display:flex;

justify-content:center;

gap:20px;

flex-wrap:wrap;

margin:30px 0;

}

.stat-card{

background:white;

width:220px;

padding:20px;

border-radius:15px;

text-align:center;

box-shadow:0 5px 15px rgba(0,0,0,.2);

transition:.3s;

}

.stat-card:hover{

transform:translateY(-8px);

}

.stat-card h2{

font-size:35px;

color:#e91e63;

margin-bottom:10px;

}

.stat-card p{

font-size:17px;

font-weight:bold;

}